body {
    color: #000;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
  
  h1 {
    color: #FFB6B9;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
  }
  
  h2 {
    color: #FFB6B9;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
  }
  
  h3 {
    color: #FFB6B9;
    font-family: 'Montserrat', sans-serif;
  }
  
  p {
    line-height: 2;
  }
  
  hr {
    border: dotted #F6EEC7 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }
  
  a{
    color: #FFB6B9;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  a:hover {
    color: #BEEBE9;
  }
  
  .top-container {
    background-color: #F6EEC7;
    position: relative;
    padding-top: 100px;
  }
  
  .middle-container {
    margin: 100px 0;
  }
  
  .bottom-container {
    background-color: #F6EEC7;
    padding: 50px 20px 30px 20px
  }

  .profile img
  {
    width: 246px;
  }
  
  .skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  }
  
  
  .intro {
    width: 30%;
    margin: auto;
  }
  
  .contact-message {
    width: 40%;
    margin: 40px auto 60px;
  }
  
  .copyright {
    color: #000;
    font-size: 1rem;
  }
  .factory
  {
    width: 20px;
  }
  
  .cap {
    position: absolute;
    right: 50px;
    top: 40px;
  }
  
  .bottom-cap {
    position: absolute;
    left: 50px;
    bottom: 300px;
  }
  .industrial
  {
    width: 30%;
  }
  
  .robot-img {
    width: 40%;
    float: left;
    margin-right: 30px;
  }
  
  .programming-img {
    width: 25%;
    float: right;
    margin-left: 30px;
  }
  
  .btn {
    background: #F6EEC7;
    background-image: -webkit-linear-gradient(top, #F6EEC7, #f8e899);
    background-image: -moz-linear-gradient(top, #F6EEC7, #f8e899);
    background-image: -ms-linear-gradient(top, #F6EEC7, #f8e899);
    background-image: -o-linear-gradient(top, #F6EEC7, #f8e899);
    background-image: linear-gradient(to bottom, #F6EEC7, #f8e899);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #BEEBE9;
    background-image: -webkit-linear-gradient(top, #BEEBE9, #BEEBE9);
    background-image: -moz-linear-gradient(top, #BEEBE9, #BEEBE9);
    background-image: -ms-linear-gradient(top, #BEEBE9, #BEEBE9);
    background-image: -o-linear-gradient(top, #BEEBE9, #BEEBE9);
    background-image: linear-gradient(to bottom, #BEEBE9, #BEEBE9);
    color: #ffffff;
    text-decoration: none;
  }
  